<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.NOTIFICATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- <uses-permission android:name="android.permission.FLASHLIGHT" /> -->
    <!-- <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" /> -->
    <!-- <uses-feature android:name="android.hardware.camera" /> -->
    <!-- <uses-feature android:name="android.hardware.camera.flash" /> -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.FindMyPhone"
        tools:targetApi="31">
        <activity
            android:name=".main.activity.InterestActivity"
            android:exported="false" />
        <activity
            android:name=".main.activity.SettingActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />

        <activity
            android:name=".main.activity.PolicyWebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.PermissionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".main.clap.VocalService"
            android:exported="true"
            android:foregroundServiceType="microphone">
            <intent-filter>
                <action android:name="android.intent.action.FOREGROUND_SERVICE" />
            </intent-filter>
        </service>

        <activity
            android:name=".main.activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.OnBoardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:theme="@style/AdsAppTheme"
            tools:replace="android:theme" />
        <activity
            android:name=".main.activity.LanguageActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.PlaySoundActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.CreateSoundActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".main.activity.RecordAudioActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".main.activity.HowToUseActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />
<!--        <meta-data-->
<!--            android:name="com.facebook.sdk.ClientToken"-->
<!--            android:value="@string/facebook_client_token" />-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${APP_ID}"
            tools:replace="android:value" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />
    </application>

</manifest>